/* 
NOTE: rem and em do not depend on html font size in media queries
Instead 1rem = 1em = 16px for media queries. For writing breakpoints
of media queries, always use `em` over `rem`. 
*/

/* ***************************************** */
/* BELOW 1344px (84*16) - (Smaller desktops) */
/* ***************************************** */
@media (max-width: 84em) {
  .hero {
    /* 
        Note that once we are within the media block,
        1 rem will work the same way it does on normal css.
        the NOTE at the top is only for @media. Not for rem and em
        inside the @media block.
        */
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ***************************************** */
/* BELOW 1200px (75*16) - (Landscape tablets)*/
/* ***************************************** */
@media (max-width: 75em) {
  html {
    /* 9px/16px = .5625 --> to make 1 rem = 9px (from 10px for bigger screen */
    font-size: 56.35%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}
