/*
    01) TYPOGRAPHY SYSTEM
        - Font size system (px)
            10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

        - Font weights
            Default: 400
        
        - Line heights
            Default: 1

    02) COLORS SYSTEM
        - Primary: #e67e22
        - Tints:
        - Shades:
        - Accents:
        - Greys:

    05) SHADOWS

    06) BRODER RADIUS

    07) WHITE SPACE
        - Spacing systems (px)
            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*
     should not set exact pixel vlaue for font here
     coz this will override user's browser preference 
     if any.

     with %, we'll respect the preference atleast a bit
     because our root font size will scale up/down
     depending on user's browser preference.
    */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.test {
  /* width: 1000px; */ /*gives rigid width*/
  /*
  if available width is more, it will take full specified max widht
  else it will shrink to fit in the available widht
  */
  max-width: 1000px; /*maximum width is 1000px*/
  background-color: red;

  /* 
  `rem` is root element's font size i.e. html
  tag's font size. If no font size is specified
  on html then `rem` is 16px which is default browser
  setting (which can be overriden by users) 
  */
  max-width: 50rem; /*50*16px = 800px*/
  padding: 4rem;
}
